html {
  background-color: #f0eee8;
  box-sizing: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card a {
  background-color: #dcd4cd;
  display: inline-block;
  margin: 0;
  max-width: 20em;
  padding: 1em;
  padding-top: 1.4em;
  background-color: #dcd4cd;
  border: 3px solid #785439;
  border-radius: 10px;
  text-align: left;
}

body {
  background-color: #f0eee8;
  font-family: Georgia;
  line-height: 1.5;
}

a .btn {
  color: white;
  background-color: #785439;
  font-family: sans-serif;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 8em;
  margin: auto;
  padding: .4em .75em .5em;
  border-radius: 8px;
}
